@font-face {
    font-family: 'Letters For Learners', sans-serif;
    src: url('/assets/Letters\ for\ Learners.ttf');
}

body {
    background-color: black;
    font-family: 'Letters For Learners';
    color: white;
    font-size: 24px;
    margin: 0;
    min-height: 100vh;
    /* max-height: 1000px; */
}


a {
    color: #ACDADE;
}

.inner {
    width: 100vw;
    min-height: 100%;
    /* max-height: 100vh; */
    max-width: 450px;
    background-image: url('assets/darkPaper.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    /* max-height: 100vh; */
}

header {
    display: flex column;
    justify-content: center;
    text-align: center;
}

.logo-home {
    background-image: url('assets/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    width: 100%;
    height: 100px;
    margin: 60px 0 60px 0;
    position: relative;
}

.logo-home a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}

.logo {
    background-image: url('assets/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    width: 100%;
    height: 60px;
    margin: 60px 0 24px 0;
    position: relative;
}

.logo a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}

section {
    border-top: 1px dashed white;
    margin: 0 42px 0 42px;
}
ol {
    list-style-position: inside;
    padding-left: 0;
}
ul {
    list-style-position: inside;
    padding-left: 0;
}
ol li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}
.attribution {
    display: flex;
    justify-content: space-around;
}
.attribution-happy-hour {
    font-size: 18px;
    margin: 0 32px 0 32px;
}
.attribution span {
    margin: 24px 0 0 0;
    font-size: 18px;
}
.spacer {
    height: 2px;
}

footer {
    /* background-color: white; */
    width: 100%;
    /* height: 100%; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
}
.qrc {
    width: 120px;
    height: 120px;
    object-fit: contain;
    margin: 20px 0 20px 0;
}
.qrc-wrap {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    justify-content: start;
    align-items: center;
}
.banana {
    position: absolute;
    left: 0px;
    bottom: 0px;
}
.list-presentation li:not(:first-child) {
    padding: 18px 0 12px 0;
    border-top: 1px dashed white;
}
.list-presentation li:first-child {
    padding-bottom: 12px;
}
.list-presentation li:last-child {
    padding-bottom: 0;
}
.list-presentation span p {
    margin: 6px 0 0 0;
    font-size: 18px;
}

.list-presenters li:not(:first-child) {
    padding: 18px 0 12px 0;
    /* border-top: 1px dashed white; */
}
.list-presenters li:first-child {
    padding-bottom: 12px;
}
.list-presenters li:last-child {
    padding-bottom: 0;
}
/* .list-presenters span p {
    margin: 6px 0 0 0;
    font-size: 18px;
} */

h1 {
    font-size: 24px;
    margin: 24px 0 24px 0;
}
.img-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.img-wrap img {
    width: 90%;
    object-fit: contain;
    margin-top: 12px;
}
.img-wrap iframe {
    margin-top: 12px;
}